<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ex.bikeencyclopediaapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Main_1_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Bike_2_Activity" />
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".activity.Bike_Type_3_1_Activity" />
        <activity android:name=".activity.Bike_Brand_3_2Activity" />
        <activity android:name=".activity.Specialized_Activity" />
        <activity android:name=".activity.Road_Bike_Menu_4_Activity" />
        <activity android:name=".activity.Korea_7_Activity" />
        <activity android:name=".activity.Continent_5_Activity" />
        <activity android:name=".activity.Country_Menu_6_Activity" />
        <activity android:name=".activity.Samcheonri_Biketype_8_Activity" />
    </application>

</manifest>